.footer{
    // border: 1px solid black;
    h4{
        background-color: rebeccapurple;
        font-size: larger;
        text-align: center;
        color: whitesmoke;
        padding: 1em;
        margin-bottom: 2em;
    }
}